form {
  max-width: 300px;
  margin: 50px auto;
  font-family: 'Skanskasanspro regular', sans-serif;
}

#email-popup {
  height: 100%;
  opacity: .98;
  top: 0;
  left: 0;
  display: none;
  position: fixed;
  background-color: #313131;
  overflow: auto;
  width: 100%;
  z-index: 9999999;
}

div#popupEmailForm {
  position: absolute;
  left: 66%;
  top: 17%;
  margin-left: -202px;
  font-family: 'Skanskasanspro regular', sans-serif;
}

.feedback-input {
  color: white;
  font-family: 'Skanskasanspro regular', sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 2px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #f30;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #f30;
}

.snowfall {
  fill: white !important;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: 'Skanskasanspro regular', sans-serif;
  width: 100%;
  background: rgb(245, 66, 22);
  border-radius: 2px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 400;
}

[type="submit"]:hover {
  background: #f30;
}

#popup {
  font-family: 'Skanskasanspro black', sans-serif;
  width: 30% !important;
  background: #f30;
  border-radius: 2px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-align: center
}

#popup:hover {
  background: white;
  color: #f30;
  border: 1px solid rgba(255, 255, 255, 0.85);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.2);
  transform: scale(1.2)
}