.container-full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  max-width: 1200px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: transparent;
}

.logo {
  position: relative;
  z-index: 33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  margin-left: 15px;
  padding-bottom: 7px;
  padding-left: 0px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 100px;
  padding-bottom: 8px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.first-section {
  position: static;
  height: 100vh;
  background-color: #f30;
}

.top-cloud {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  overflow: hidden;
  height: 110px;
}

.top-image {
  position: absolute;
  left: 0px;
  top: -65px;
  z-index: 1;
  display: block;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
}

.main-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1180px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.leftside-img {
  position: relative;
  left: -73px;
  top: -107px;
  right: 0px;
  bottom: 0px;
  z-index: 10;
  overflow: hidden;
  max-width: 18%;
  float: left;
  cursor: pointer;
}

.second-section {
  position: static;
  height: 100vh;
  background-color: #f30;
}

.rightside-img {
  position: relative;
  top: -123px;
  right: 21px;
  max-width: 25%;
  float: right;
  -ms-flex-item-align: start;
  align-self: flex-start;
  text-align: right;
}

.middle-img {
  position: relative;
  top: -79px;
  z-index: 146;
  display: block;
  width: 450px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  float: left;
  clear: none;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -ms-grid-row-align: flex-start;
  align-items: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  background-color: transparent;
}

.middle-text {
  position: relative;
  z-index: 183;
  display: block;
  height: auto;
  margin-top: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  float: left;
  clear: left;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-box-flex: 0;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: #f30;
  font-family: 'Skanskasanspro regular', sans-serif;
  text-align: center;
}

.text-block {
  display: block;
  float: left;
  clear: left;
  background-color: #f30;
  font-family: 'Skanskasanspro regular', sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: justify;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.middle-text-heading {
  margin-bottom: 30px;
  font-family: 'Skanskasanspro bold', sans-serif;
  color: #000;
  font-size: 28px;
  line-height: 32px;
}

._2nd-section-img-container {
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

._2nd-container-left-imgdiv {
  position: relative;
  left: -45px;
  top: -228px;
  right: 0px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  height: 100%;
  margin-right: 0px;
  padding-left: 0px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

._2nd-container-right-imgdiv {
  position: relative;
  left: 135px;
  top: -250px;
  right: 0px;
  bottom: 0px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: #f30;
}

.footer-bg {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100px;
  float: none;
}

.snowman {
  position: absolute;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.row {
  position: relative;
  width: 960px;
  height: 100px;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.footer-container {
  background-color: transparent;
}

.pre-footer-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f30;
}

.pre-footer-container-div {
  position: relative;
  left: 281px;
  top: 49px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 136px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  float: right;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

@media (min-width: 1280px) {
  ._2nd-container-left-imgdiv {
    left: -150px
  }
}

@media (max-width: 1280px) {
  .leftside-img {
    left: 0px;
    top: -175px;
  }
  ._2nd-container-left-imgdiv {
    left: -150px
  }
}

@media (min-width: 991px) {
  ._2nd-container-left-imgdiv {
    left: -200px
  }
}

@media (max-width: 991px) {
  .container-full {
    position: relative;
    z-index: 26;
  }
  .container-main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 59%;
    max-width: auto;
    padding-left: 0px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .logo {
    display: block;
    margin-left: 0px;
    padding-bottom: 7px;
    padding-left: 0px;
  }
  .flags {
    padding-bottom: 11px;
  }
  .flags.mobile-flags {
    display: block;
    margin-right: 0px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .leftside-img {
    left: 0px;
    top: -175px;
  }
  .rightside-img {
    top: -122px;
  }
  .middle-img {
    top: -245px;
  }
  .middle-text-heading {
    font-size: 25px;
    line-height: 30px;
  }
  ._2nd-container-left-imgdiv {
    display: none;
    width: 10%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    -ms-flex-item-align: center;
    align-self: center;
  }
  ._2nd-container-right-imgdiv {
    left: 395px;
    top: -191px;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .footer-bg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .pre-footer-container-div {
    left: 185px;
    top: 33px;
    right: 0px;
  }
}

@media (max-width: 767px) {
  ._2nd-container-right-imgdiv {
    display: none;
  }
}

@media (max-width: 479px) {
  .container-full {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    clear: left;
  }
  .container-main-content {
    width: 45%;
    height: 60px;
    max-width: auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 108%;
    margin-left: 0px;
    padding-left: 0px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
  .flags {
    position: static;
    right: 0px;
    bottom: 0px;
    display: block;
    width: 100%;
    max-width: 102px;
    margin-right: 100px;
    padding-left: 0px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .flags.mobile-flags {
    max-width: auto;
    margin-right: 0px;
    margin-left: 50px;
    padding-top: 8px;
    padding-bottom: 0px;
    -webkit-box-flex: 0;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .main-content {
    max-width: auto;
  }
  .leftside-img {
    display: none;
  }
  .rightside-img {
    display: none;
  }
  .middle-img {
    top: -210px;
    display: block;
    padding-top: 98px;
  }
  .middle-text {
    padding: 0px 10px;
  }
  .text-block {
    line-height: 19px;
  }
  .middle-text-heading {
    font-size: 19px;
    line-height: 19px;
  }
  ._2nd-section-img-container {
    display: none;
  }
  .pre-footer-container-div {
    left: 0px;
    top: 78px;
    right: 0px;
    width: 100%;
  }
  .link-media {
    max-width: 25px;
  }
}

@font-face {
  font-family: 'Skanskasanspro bold';
  src: url('../fonts/SkanskaSansPro-Bold.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Skanskasanspro regular';
  src: url('../fonts/SkanskaSansPro-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Skanskasanspro light';
  src: url('../fonts/SkanskaSansPro-Light.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}